// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$brand-color: rgb(0, 47, 47);
$text-color: rgb(49, 54, 57);
$status-reserved: rgb(167, 163, 126);
$status-vacant: rgb(0, 47, 47);
$status-sold: rgb(161, 161, 161);
$flag: rgb(255, 68, 68);
$hillary: rgb(167, 163, 126);
$milk-white: rgb(254, 254, 254);
$deep-teal: rgba(0, 47, 47, 0.702);
$venice-blue: rgb(4, 99, 128);

$max-width: 1280px;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
);

