// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-main {
	background-color: $bg-color;
}

.container--main {
	max-width: 1310px;
	padding: 58px 0 74px 0;

	@media (max-width: 1366px) {
		padding-bottom: 0;
	}

	@media (max-width: 768px) {
		padding-top: 18px;
	}
}

.search-results-title {
	max-width: 1098px;
	margin: 0 auto;
	padding: 0 15px 62px 15px;
	font-size: 48px;
	color: $brand-color;
	font-weight: bold;
	line-height: 1.2;

	@media (max-width: 1366px) {
		font-size: 32px;
		padding-bottom: 28px;
	}

	@media (max-width: 1200px) {
		max-width: 724px;
	}

	@media (max-width: 768px) {
		font-size: 26px;
		padding-bottom: 16px;
	}
}

.catalog {
	background-color: $milk-white;
	padding: 24px 0;
	padding-bottom: 70px;
	margin-bottom: 70px;

	@media (max-width: 440px) {
		margin-bottom: 0;
	}
}

.catalog__header {
	max-width: 1098px;
	padding: 0 15px 42px 15px;
	margin: 0 auto;

	@media (max-width: 1200px) {
		max-width: 724px;
	}
}

.sorting-list {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	color: $deep-teal;
}

.sorting-list__title {
	margin-right: 6px;
}

.sorting-item {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.sorting-item+.sorting-item {
	margin-left: 38px;
}

.sorting-item__title {
	display: inline-block;
	position: relative;

	&::after {
		content: "\a0";
		visibility: hidden;
		width: 100%;
		position: absolute;
		display: block;
		padding-top: 2px;
		line-height: 2px;
		border-bottom: 1.5px dotted rgba(0, 47, 47, 0.2);
	}
}

.sorting-item__button {
	position: absolute;
	@include button-reset;
	@include no-outline;
	cursor: pointer;
	width: 18px;
	height: 18px;
	background-color: $venice-light;
	border-radius: 50%;
	top: 2px;
	right: -26px;
	background-repeat: no-repeat;
	background-position: center center;
}

.sorting-item__button:hover+span,
.sorting-item__button:active+span,
.sorting-item__button:focus+span {
	color: $brand-color;
	&::after {
		visibility: visible;
		border-bottom: 1.5px dotted rgba(0, 47, 47, 0.4);
	}
}

.sorting-item__button[data-sorting="down"] {
	background-image: url("../img/chevron-down.png");
}

.sorting-item__button[data-sorting="up"] {
	background-image: url("../img/chevron-up.png");
}

.catalog-items__wrapper {
	max-width: 1098px;
	padding: 0 15px;
	margin: 0 auto;

	@media (max-width: 1200px) {
		max-width: 724px;
	}
}

.catalog-items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -54px;
	margin-bottom: -54px;

	@media (max-width: 768px) {
		justify-content: center;
	}
}

.catalog-item {
	min-height: 520px;
	margin-left: 54px;
	margin-bottom: 54px;
	width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	@media (max-width: 440px) {
		width: 100%;
	}

	&--reserved {
		border: 1px solid $status-reserved;

		.catalog-item__footer {
			background-color: $status-reserved;
		}
	}

	&--vacant {
		border: 1px solid $status-vacant;

		.catalog-item__footer {
			background-color: $status-vacant;
		}
	}

	&--sold {
		border: 1px solid $status-sold;

		.catalog-item__footer {
			background-color: $status-sold;
		}
	}
}

.catalog-item__image {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.catalog-item__header {
	padding: 18px 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flag-list {
	@include list-reset;
}

.flag-list__item {
	display: inline-block;
	padding: 0 3px;
	border-radius: 3px;
	font-size: 12px;
	font-weight: 600;
	color: $milk-white;
	text-transform: uppercase;
	background-color: $flag-color;
}

.flag-list__item+.flag-list__item {
	margin-left: 14px;
}

.add-to-favorite {
	margin: 0;
}

.add-to-favorite__label {
	cursor: pointer;
	user-select: none;
	display: inline-block;
	width: 19px;
	height: 18px;
	background-image: url("../img/star-unchecked.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.add-to-favorite__input:hover+label {
	background-image: url("../img/star-checked.png");
}

.add-to-favorite__input:checked+label {
	background-image: url("../img/star-checked.png");
}

.catalog-item__body {
	min-height: 182px;
	padding: 0 54px;
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 992px) {
		min-height: 136px;
		margin-bottom: 34px;
	}
}

.catalog-item__title {
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	color: $brand-color;

	@media (max-width: 768px) {
		font-size: 18px;
	}
}

.data-table {
	border-collapse: collapse;
	margin-bottom: 34px;
	width: 210px;
}

.data-table__finish {
	color: $venice-blue;
	font-size: 16px;
	line-height: 1.2;
	position: relative;
	padding-left: 10px;
	vertical-align: bottom;
}

.data-table__finish::before {
	content: "";
	position: absolute;
	width: 3px;
	height: 33px;
	background-color: $venice-blue;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.parameter {
	@include d-list-reset;
}

.parameter__value {
	font-size: 18px;

	sup {
		font-size: 10px;
	}
}

.parameter__description {
	font-size: 13px;
}

.catalog-item__footer {
	padding: 6px 0;
	text-align: center;
}

.catalog-item__status {
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1.2;
	color: $milk-white;
}

.catalog-item__price {
	margin: 0;
	font-size: 24px;
	color: $text-color;
	line-height: 1.2;
	font-weight: 600;

	@media (max-width: 768px) {
		font-size: 22px;
	}
}

.catalog__footer {
	padding-top: 54px;
	text-align: center;

	@media (max-width: 440px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.button--show-more {
	@include button-reset;
	@include no-outline;
	background-color: $venice-blue;
	font-size: 14px;
	color: $milk-white;
	text-transform: uppercase;
	line-height: 2.857;
	padding: 16px 203px;
	border-radius: 3px;
	letter-spacing: 1px;
	cursor: pointer;

	@media (max-width: 992px) {
		padding-left: 20%;
		padding-right: 20%;
	}

	@media (max-width: 440px) {
		width: 100%;
	}
}

.subscribtion {
	background-color: $venice-blue;
	color: $milk-white;
	padding-left: 53px;
	padding-right: 106px;
	padding-top: 44px;
	padding-bottom: 46px;

	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.subscribtion__wrapper {
	display: flex;
	justify-content: space-between;

	@media (max-width: 992px) {
		flex-direction: column;
		max-width: 326px;
		margin: 0 auto;
	}
}

.subscribtion__form {
	padding-top: 16px;

	@media (max-width: 1200px) {
		display: flex;
		flex-direction: column;
	}
}

.action {
	@include d-list-reset;
}

.action__title {
	font-size: 34px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.action__description {
	font-size: 18px;
	line-height: 1.2;
}

.checkbox__wrapper {
	margin: 0;
	padding-top: 14px;
	padding-left: 25px;
}

.button--subscription {
	@include button-reset;
	@include no-outline;
	border-radius: 2px;
	background-color: $hillary;
	font-size: 16px;
	color: $milk-white;
	text-transform: uppercase;
	line-height: 1.2;
	padding: 14px 40px;
	font-weight: 300;
	border-radius: 3px;
	letter-spacing: 1px;
	cursor: pointer;
	margin-left: 48px;

	@media (max-width: 1200px) {
		margin-left: 0;
		width: 324px;
	}

	@media (max-width: 440px) {
		width: 100%;
	}
}

.subscribtion__email-input {
	outline: none;
	padding: 10px 20px;
	border-radius: 3px;
	width: 324px;
	border: none;

	@media (max-width: 1200px) {
		display: block;
		margin-bottom: 15px;
	}
}

.subscribtion__email-input,
.subscribtion__email-input::placeholder {
	font-family: inherit;
	font-size: 18px;
	color: $venice-blue;
	line-height: 1.2;
}

.subscribtion__title {
	position: relative;
	cursor: pointer;
	user-select: none;

}

.subscribtion__checkbox+label::before {
	content: "";
	position: absolute;
	left: -24px;
	top: 4px;

	width: 18px;
	height: 18px;
	background-color: $milk-white;
}

.subscribtion__checkbox:checked+label::after {
	content: "";
	position: absolute;
	top: 6px;
	left: -20px;
	width: 13px;
	height: 13px;
	background-image: url("../img/check.png");
	background-repeat: no-repeat;
	background-position: center center;
}